<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">Categories</h1>
            <div class="list-group">

                <th:block th:each="category : ${categories}">
                    <a href="#" class="list-group-item"
                       th:href="@{/category/{id}(id=${category.id})}"
                       th:text="${category.name}" style="color: #868e96"></a>
                </th:block>

            </div>
        </div>

        <div class="col-lg-9">
            <!--th:if="${topDestination != null}"-->
            <!--slider-->
            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel"
                 th:if="${topDestination?.getRandomImage()?.getBigImagePath()}">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <a th:href="@{/destination/{id}(id=${topDestination.id})}">
                            <img class="d-block img-fluid"
                                 th:src="${topDestination.getRandomImage().getBigImagePath()}"
                                 alt="Second slide"/>
                        </a>
                    </div>
                </div>
                <a id="previous-destination-image-link" class="carousel-control-prev"
                   th:href="@{/prev_dest(destId=${topDestination.getId()})}" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a id="next-destination-image-link" class="carousel-control-next"
                   th:href="@{/next_dest(destId=${topDestination.getId()})}" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">
                <th:block th:each="destination : ${destinations}">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a th:href="@{/destination/{id}(id=${destination.id})}">
                                <!--destination.getRandomImage().getImagePath()-->

                                <img class="card-img-top" th:src="${destination.getRandomImage().getSmallImagePath()}"
                                     alt=""/></a>

                            <div class="card-body">
                                <h4 class="card-title">
                                    <a th:text="${destination.name}"
                                       th:href="@{/destination/{id}(id=${destination.id})}"></a>
                                </h4>
                                <!--short review later on-->
                                <p class="card-text" th:text="${destination.review}"></p>
                            </div>
                            <div class="card-footer">
                                <span class="stars" th:value="${destination.starRating}"></span>
                                <span class="small rating_text"
                                      th:text="${destination.starRating} + '&nbsp;&nbsp;&#183;&nbsp;&nbsp;' + ${destination.votesCount} + ' votes.'"></span>

                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>