<div class="container body-content span=8 offset=2">
    <div id="map"></div>

    <!--<div id="mapForm">
        <table>
            <tr>
                <td><label for="event">Event: </label></td>
                <td>
                    <input type='text' id='event'/>
                </td>
            </tr>
            <tr>
                <td><label for="comment">Comment: </label></td>
                <td>
                    <input type='text' id='comment'/>
                </td>
            </tr>
            <tr>
                <td><label for="image">Upload image: </label></td>
                <td>
                    <input type="file" name="picture" id="image" accept="image/*"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id="infoSubmit" type='button' value='Save' th:attr="data-dest_id=${destination.id}"
                           onclick='saveData()' />
                </td>
            </tr>
        </table>
    </div>-->
    <div id="message"></div>

</div>
