<head th:fragment="head">
    <title th:if="${pageTitle}" th:text="${pageTitle}"></title>
    <!--<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>-->
    <link th:href="@{/scripts/jquery.min.js}" rel="script" type="application/javascript"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!--<link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" type="text/css"/>-->
    <!--<link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" type="text/css"/>-->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/destinationRating.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/jsVoteStars.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/search.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
</head>
