<title th:if="${pageTitle}" th:text="${pageTitle}"></title>
<script type="application/javascript" th:src="@{/scripts/jquery.min.js}"></script>
<script type="application/javascript" th:src="@{/scripts/bootstrapNew.js}"></script>
<!--<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<!--<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>-->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
<!--<link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" type="text/css"/>-->
<!--<link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" type="text/css"/>-->
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/destinationRating.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/jsVoteStars.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/search.css}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
