<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2 th:text="${article.title}"></h2>
                    </header>

                    <p th:text="${article.content}"> </p>

                    <small class="author" th:text="${article.author.fullName}"></small>
                    <small class="destination">destination: </small>
                    <small class="destination" th:text="${article.destination.name}"></small>

                    <form th:action="@{/article/{id}(id = ${article.id})}" th:object="${ratings}" method="POST">
                    <fieldset class="rating" th:each="rating : ${ratings}">
                        <legend>Please rate:</legend>
                        <input type="radio" th:field="*{value}" th:value="${rating}" />
                        <label th:for="${#ids.prev('type')}" th:text="${rating}">star</label>
                        <!--<input type="radio" id="star2" th:name="rating" th:value="2" /><label for="star2" title="Kinda bad">2 stars</label>-->
                        <!--<input type="radio" id="star3" th:name="rating" th:value="3" /><label for="star3" title="Meh">3 stars</label>-->
                        <!--<input type="radio" id="star4" th:name="rating" th:value="4" /><label for="star4" title="Pretty good">4 stars</label>-->
                        <!--<input type="radio" id="star5" th:name="rating" th:value="5" /><label for="star5" title="Rocks!">5 stars</label>-->
                        <input type="submit" value="Submit"/>
                    </fieldset>
                    </form>

                    <footer>

                        <div class="pull-right">

                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="btn btn-success btn-xs" th:href="@{/article/edit/{id}(id = ${article.id})}">Edit</a>
                                <a class="btn btn-danger btn-xs" th:href="@{/article/delete/{id}(id = ${article.id})}">Delete</a>
                            </th:block>

                            <a class="btn btn-default btn-xs" th:href="@{/}">back &raquo;</a>
                        </div>
                    </footer>

                    <div class="row">
                        <th:block th:each="comment : ${comments}">
                            <div class="col-md-6">
                                <article>
                                    <header>
                                        <h2 th:text="${comment.title}"></h2>
                                    </header>

                                    <p th:text="${comment.content}"></p>

                                    <small class="author" th:text="${comment.author.fullName}"></small>

                                    <footer>
                                        <div class="pull-right">
                                            <a class="btn btn-default btn-xs"
                                               th:href="@{/comment/{id}(id=${comment.id})}">Read more &raquo;</a>
                                        </div>
                                    </footer>
                                </article>
                            </div>
                        </th:block>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>
